<header>
    <mat-toolbar color="primary">

        <mat-toolbar-row class="marvel">
            <h1 [routerLink]="'/dashboard'">{{title}}</h1>
        </mat-toolbar-row>

        <mat-toolbar-row class="subtitle">
            <span [routerLink]="'/dashboard'">{{subtitle}}</span>
            <!-- This fills the remaining space of the current row -->
            <span class="fill-remaining-space"></span>
            <div>
                <a mat-button [routerLink]="'/dashboard'"> Dashboard </a>
                <a mat-button [routerLink]="'/heroes'"> Heroes </a>

            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</header>
<main>
    <router-outlet></router-outlet>
</main>