body{
  color: #202020;
}
/********** header section **********/
header h1{
  font-family: Marvel;
  text-align: center;
  margin: auto;
}
.subtitle{
  background-color: black;
}
.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}