body{
  color: #202020;
}
/********** header section **********/
header a{
  color: white;
  text-decoration: none;
  font-family: Marvel;
}
.subtitle{
  background-color: black;
}
.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}