<h3>Top Heroes</h3>
<mat-grid-list [cols]="breakpoint" rowHeight="fit" (window:resize)="onResize($event)">
  <mat-grid-tile *ngFor="let hero of heroes">
    <mat-card class="card" routerLink="/detail/{{hero.id}}">
      <mat-card-header>
        <mat-card-title>{{hero.name}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{hero.thumbnail.path}}/standard_xlarge.{{hero.thumbnail.extension}}"
        alt="Photo of {{hero.name}}">
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>